.dyn-left{
     transform: translateX(0);
     opacity: 1;
     transition: transform 0.4s, opacity 0.4s;
 }

.dyn-left.invisible{
    transform: translateX(100px);
    opacity: 0;

}
.dyn-right{
     transform: translateX(0);
     opacity: 1;
     transition: transform 0.4s, opacity 0.4s;
 }

.dyn-right.invisible{
    transform: translateX(-100px);
    opacity: 0;

}

